################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/obj
/bin/Debug
/bin/Release
/.vs/RoslynImmutableHashMapBenchmark/v17/.suo
/.vs/RoslynImmutableHashMapBenchmark/v17
/.vs/RoslynImmutableHashMapBenchmark/v16/Server/sqlite3/storage.ide
/.vs/RoslynImmutableHashMapBenchmark/v16/Server/sqlite3/db.lock
/.vs/RoslynImmutableHashMapBenchmark/v16/Server/sqlite3
/.vs/RoslynImmutableHashMapBenchmark/v16/.suo
/.vs/RoslynImmutableHashMapBenchmark/v16
/.vs/RoslynImmutableHashMapBenchmark/FileContentIndex/read.lock
/.vs/RoslynImmutableHashMapBenchmark/FileContentIndex/6469d323-b1f5-44e4-b416-cf72c7c3d599.vsidx
/.vs/RoslynImmutableHashMapBenchmark/FileContentIndex
/.vs/RoslynImmutableHashMapBenchmark
